*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}

:root{
    --color-primary: #6a4df4;
    --color-success: #00bf8e;
    --color-warning: #f7c942;
    --color-danger : #f75842;
    --color-danger2: #64180e;
    --color-white  : #ffffff;
    --color-lite   : #737373;
    --color-black  : #000;
    --color-bg     : #F8F6FE;
    --color-bg1    : #f3f3f3;
    --color-bg2    : #424890;

    --contener-width-lg : 1280px;
    --contener-width-md : 90%;
    --contener-width-sm : 94%;
    
    --transition: all 400ms ease;
}

img{
    object-fit: cover;
    width: 100%;
}
.btn{
    background-color:var(--color-primary) ;
    color: var(--color-white);
    padding: 15px 42px;
    line-height:26px ;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
     width: max-content;
    text-transform: capitalize;
   
}
.btn:hover{
    background-color: transparent;
    color: var(--color-primary);
   
}
a{
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Inter', sans-serif;
    color: var(--color-lite);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
h1{
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    line-height: 95px;
    color: var(--color-black);
}
h2{
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    line-height: 55px;
    color: var(--color-black);
}

h6{
    font-family: 'Inter', sans-serif;
    color: var(--color-primary);
    font-weight: 500;
    line-height: 30px;
    font-size: 25px;
}
h5{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: var(--color-black);
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
}
body{
    background-color: #ffffff;
}
section{
  padding-top:150PX ;
}
.center{
    width: 620px;
    margin: 0 auto;
    text-align: center;
}
.center p{
    margin-top: 20px;
}
/* ================= Nav ber start========================== */
nav{
    height: 106px;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
 width: 166px;
 height: 42px;
}

.menu{
    display: flex;
    column-gap: 66px;
    align-items: center;
}
.menu li a{
    line-height: 26px;
    font-size: 18px;
    color: var(--color-lite);
    text-transform: capitalize;
    font-weight: 400;
    transition: var(--transition);
}
.menu li:hover a{
    color: var(--color-primary);
    font-weight: 700;
}


/*  banner part start ========================== */

#banner{
    padding-bottom: 138px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner_btn{
    margin-top: 30px;
    display: block;
}
.banner_pera{
    width: 604px;
}
.banner_right{
    position: relative;
}

.binner_image_wraper {
    width: 659PX;
    height: 730px;
    display: grid;
    grid-template-rows: 229px 235px 205px;
    grid-template-columns: 258px 229px 106px;
    row-gap: 20px;
    column-gap: 32px;
    position: absolute;
    right: -55px;
    top: -90px;
}

/*  ========================== Banner Right  Start  ============== */
.image1{

    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}
.image_container1{
    height: 122px;
    width: 122px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #FFC44A;
    overflow: hidden;
}
.image2{
   
    grid-column: 2/3;
    grid-row: 1/2;
}
.image_container2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #5cbf00;
    border-radius: 0px 130px 0 0; 
}
.image3{
    grid-column: 3/-1;
    grid-row: 1/2;
    position: relative;
}
.image_container3{
    height: 103px;
    width: 100%;
    overflow: hidden;
    background-color: #a270f7;
    border-radius: 0px 0px 130px 0px; 
    bottom: 0;
    left: 0;
    position: absolute;
}
.image4{
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
}
.image_container4{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: red;
    border-radius: 130px 0px 0px 0px; 
    position: absolute;
}
.image5{
    grid-row: 2/4;
    grid-column: 2/-1;
    position: relative;
}
.image_container5{
    height: 374px;
    width: 100%;
    overflow: hidden;
    background-color: #0033bf;
    border-radius: 30px ; 
    position: absolute;
}
.image6{
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;
}
.image_container6{
    height: 100%;
    width: 205px;
    overflow: hidden;
    background-color: #bf005f;
    border-radius: 0px 0px 0px 130px; 
    position: absolute;
    right: 0;
}
/*  ========================== Banner Right  End  ============== */
/*  ========================== Success Start  ============== */


.success{
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 85px 50px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.success_part2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.success_part1 h5{
width: 387px;
margin-top: 15px;
}

.success_part2 span{
color: #FFAC4A;
}
.success_part2 a{
color: var(--color-primary);
text-decoration: underline;
}
.success small{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-lite);
    text-transform: capitalize;
}
.small_image_wraper{
    position: relative;
}
.customer_small_image, .customer_small_image1, .customer_small_image2, .customer_small_image3, .customer_small_image4 ,.customer_small_image5{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    overflow: hidden;
}
/*  ========================== Success End  ============== */
.customer_small_image{
    position: absolute;
left: 0px;
z-index: 1;
}
.customer_small_image1{
    position: absolute;
left: 20px;
z-index: 2;
}
.customer_small_image2{
    position: absolute;
left: 40px;
z-index: 3;
}
.customer_small_image3{
    position: absolute;
left: 60px;
z-index: 4;
}
.customer_small_image4{
    position: absolute;
left: 80px;
z-index: 5;
}
/* <!-- ========================start  Our Provided Services  Start===================== --> */

.service_wraper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 50px;
}


.service_item {
    text-align: center;
    width: 424px;
    height: 428px;
    padding: 47px 49px;
    border-radius: 20px;
    overflow: hidden;

}
.service_item:hover{
    box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.15);

}
.service_item img{
    height: 80px;
    width: 98px;
}
.service_item h3{
    margin-top: 40px ;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
}

/* <!-- ======================== End  Our Provided Services  End ===================== --> */

/* <!-- ======================== Our Recent Work ===================== --> */
#work{
    background-color: var(--color-bg1);
}
.work{
    display: flex;
    flex-direction: column;
}
.work_menu{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.work_menu> li> a{
    color: var(--color-lite);
}
.work_menu> li> a:hover{
    color: var(--color-primary);
}
.work_wraper{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 24px;


}
.work_item{
        width: 424px;
    height: 457px;
        background-color: var(--color-white);
     border-radius: 15px;
     overflow: hidden;
}
.work_item:hover{
    box-shadow: 0 15px 15px 2px rgba(0, 0, 0, 0.13);
}
.work_item_image img{
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
}
.work_item_image{
    width: 424px;
    height: 311px;
    background-color: #00bf8e;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
   
}
.work_details{
    padding: 30px 42px;
    text-align: center;
    
}
.work_details h4{
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
    text-transform: capitalize;

}
.work_details p{
    margin-top: 10px;
}
/* <!-- ======================== Our Recent Work ===================== --> */

    /* <!-- ======================== Why You Should Choose Agenc ===================== --> */
    
    .choose_agenc{
        display: grid;
        grid-template-columns: 768px 1fr;
        gap: 30px;
    }
    .choose_left> .center{
        text-align: left;
        margin-left: 0;
    }
    .choose_item_wraper{
        display: flex;
        flex-wrap: wrap;
       margin-top: 85px;
       row-gap: 40px;
       column-gap: 80px;
    }
    .choose_left_item{
        width: 344px;
        height: 176px;

    }
        .choose_left_item img{
        width: 57px;
    }
    .choose_left_item h3{
       font-size: 25px;

    }

    /*  right side imge */
    .choose_right{
        position: relative;
    }
    .choose_right_img{
        width: 565px;
        height: 634px;
        position: absolute;
        gap: 28px;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
    
    }
        .choodr_r_top{
        display: flex;
        column-gap: 28px;
     
    }
    .c_left_img1{
        height: 349px;
        width: 349px;
        background-color: #0033bf;
        border-radius: 20px;
        overflow: hidden;
    }
    .c_right_img2{
        height: 188px;
        width: 188px;
        background-color: #13bf00;
        align-self: flex-end;
         border-radius: 0 120px 0 0;
         overflow: hidden;
    }

    .choose_r_bottom{
       display: flex;
       column-gap: 35px;
    }
    .c_left_img3{
        height: 257px;
        width: 235px;
        background-color: #6c00bf;
        border-radius: 0 0 0 120px;
        overflow: hidden;
    }
    .c_right_img4{
        height: 205px;
        width: 205px;
        background-color: #bf9f00;
        border-radius: 0 0 120px 0;
        overflow: hidden;
    }

    /* <!-- ======================== Why You Should Choose Agenc ===================== --> */
    /* <!-- ======================== Some Client Reviews ===================== --> */
    #client_review{
        margin-bottom: 300px;
    }
        .review_slaider{
            padding-top:50px ;
            padding-bottom: 96px;
        }
 .slaider_item {
    
    margin-top: 290px;
    margin-bottom: 20px;
    width: 424px;
    margin-left: 8px;
    margin-right: 0px;
    height: 422px;
    padding: 54px 58.5px;
    border-radius: 40px;

    transition: var(--transition);
    z-index: 5;
}




    .item_details img{
        height: 40px;
        width: 57px;
        left: 0;
    }
    .item_details p{
        margin-top: 20px;
    }
    .item_reviewer h6{
        font-size: 20px;
        font-weight: 600;
        color: var(--color-black);
    }
    .item_details> span> svg{
     color: #FFAC4A;
     margin-top: 20px;
     margin-right: 5px;
    }
.item_reviewer {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    height: 72px;
    width: 100%;
    transition: var(--transition);
}
    .item_reviewer img{
        height: 47px;
        width: 47px;
        border-radius: 50%;
        vertical-align: middle;

    }




.slick-center .slaider_item{
   
    box-shadow: 2px 5px 50px -4px rgba(0, 0, 0, 0.308);
    z-index: 100;
}

.slick-center {
    margin-top: -240px;
    transition: var(--transition);
    z-index: 2;
}
.slick-center .item_reviewer span{
    align-self: flex-end;
}
.slick-center .item_reviewer{
    column-gap: 45px;
}

.slick-dots {

    position: absolute;
    bottom: 270px;
    display: flex;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);

    }
.slick-dots button{
    display: none;
}
.slick-dots li {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border:solid 1px var(--color-primary) ;

}
.slick-dots .slick-active{
    background-color: var(--color-primary); 
}
    /* <!-- ======================== Some Client Reviews ===================== --> */
    /* <!-- ========================  We Do design, Code & Development Reviews  ===================== --> */
    .development{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 110px;
    }
    .left_develop{
        
        grid-column: 1/6;
    }
    .left_develop .center{
        text-align: left;
        margin-left: 0;
        width: 100%;
    }
    .right_develop{
        grid-column: 7;
        
      
    }
    /* <!-- ========================  We Do design, Code & Development Reviews  ===================== --> */
    